* {
  box-sizing: border-box;
}

:root {
  --main-color: #795548;
  --main-padding: 60px;
}

.header {
  padding: 20px;
  /* background-image: linear-gradient(
    45deg,
    #bb7933,
    #a16957,
    #c4b0b0,
    #dba086,
    #763316
  ); */
  background-image: linear-gradient(
    45deg,
    #552c00,
    #712e18,
    #74390d,
    #4d1d08,
    #9d5738
  );
  box-shadow: #4a1b06 0px 20px 20px 20px, inset #321407 0px 1px 20px 20px;
}

h3 {
  font-family: system-ui;
  color: initial;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.container > .logo {
  width: 57px;
  height: 39px;
  margin-left: 10px;
}

.header .links {
  margin-top: 18px;
}

.container .icon {
  width: 30px;
  height: 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 10px;
}

.header .container .links .icon span:first-child {
  width: inherit;
  height: 2px;
  background-color: #fff;
}

.header .container .links .icon span:nth-child(2) {
  width: 60%;
  height: 2px;
  background-color: #fff;
  transition-duration: 0.3s;
}

.header .container .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .container .links .icon span:last-child {
  width: inherit;
  height: 2px;
  background-color: #fff;
}

.header .container .links ul li {
  list-style: none;
  width: 100%;
  background-image: linear-gradient(45deg, #e0cca9, transparent);
}

.header .container .links {
  position: relative;
}

.header .container .links ul {
  background-color: #eee;
  padding: 0px;
  margin: 0px;
  min-width: 200px;
  position: absolute;
  display: none;
  top: calc(100% + 15px);
  right: -10px;
}

.header .container .links:hover ul {
  display: block;
}

ul::before {
  content: "";
  border-width: 15px;
  border-color: transparent transparent #eee transparent;
  border-style: solid;
  position: absolute;
  right: 20px;
  top: -28px;
}

a {
  text-decoration: none;
  padding: 15px;
  display: block;
  color: #333;
  transition: 0.3s;
}

.header .container .links ul li a:hover {
  padding-left: 25px;
}

.header .container .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

.landing {
  background-image: url(../images/wallpaper2.jpg);
  background-size: cover;
  width: 100%;
  height: calc(100% - 60px);
  z-index: -1;
}

.landing .text {
  width: 300px;
  max-width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.landing .text h1 {
  color: #f5eded;
  margin: 0;
  font-size: 100px;
  font-family: cursive;
}

.landing .text > p {
  color: #f5eded;
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
}

.features {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: #e2d6ce;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
  grid-gap: 20px;
}

.container .feat i {
  color: var(--main-color);
  font-size: 40px;
}

.container .feat > p {
  word-break: break-word;
  line-height: 1.6;
  color: dimgray;
  font-family: sans-serif;
}

.Services {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: #3122;
}

.Special {
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  font-family: sans-serif;
  color: #d7baa759;
}

.Services .container > p {
  margin: -90px 0 0;
  font-size: 20px;
  text-align: center;
  color: #767676;
}

.Services .container .contains .feat {
  display: flex;
  margin-bottom: 40px;
}

.Services .container .contains .feat > i {
  flex-basis: 60px;
}

.Services .container .contains .feat h3 {
  margin: 0 0 20px;
  color: #6a4427;
}

.contains .feat .text {
  line-height: 1.6;
  font-family: system-ui;
  color: gray;
  flex: 1;
}

.Services .container .contains {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 30px;
}

.Services .container .contains .col:last-child img {
  width: 300px;
  height: 85%;
}

.Services .container .contains .col:last-child {
  position: relative;
}

.Services .container .contains .col:last-child::before {
  content: "";
  width: 100px;
  height: calc(100% + 32px);
  background-color: #3f2814;
  z-index: -1;
  position: absolute;
  top: -50px;
  display: block;
  right: 13px;
}

.Portfolio {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: #e2d6ce;
}

.Portfolio .container .contains {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 30px;
  padding-top: var(--main-padding);
}

.Portfolio .container .contains h3 {
  line-height: 1.6;
  font-family: system-ui;
  color: #6a4427;
  margin: 10px;
}

.Portfolio .container .contains p {
  margin-left: 10px;
  margin-right: 5px;
  word-break: break-word;
  line-height: 1.6;
  color: dimgray;
  font-size: 16px;
  font-family: sans-serif;
}

.Portfolio .container > p {
  margin: -90px 0 0;
  font-size: 20px;
  text-align: center;
  color: #767676;
}

.Portfolio .container .contains .card {
  background-color: #d7baa7;
}

.Portfolio .container .contains .card img {
  width: 100%;
  height: 300px;
}

.About {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: #3122;
}

.About .container > p {
  margin: -90px 0 0;
  font-size: 20px;
  text-align: center;
  color: #767676;
}

.About .container .contain {
  display: flex;
  justify-content: space-between;
  margin-top: var(--main-padding);
  flex-wrap: wrap;
}

strong {
  color: #3f2814;
  font-size: 16px;
}

.About .image {
  max-width: 100%;
  height: 400px;
  position: relative;
  margin-bottom: 60px;
}

.About .image img {
  max-width: 100%;
  height: 400px;
}

.About .text {
  flex-basis: calc(100% - 500px);
}

.About .text p {
  margin-bottom: 60px;
  margin-top: 60px;
  word-break: break-word;
  line-height: 1.6;
  color: dimgray;
  font-size: 16px;
  font-family: sans-serif;
}

.About .image::before {
  content: "";
  width: 80px;
  height: calc(100% + 60px);
  background-color: #9b8577;
  position: absolute;
  left: -20px;
  top: -25px;
  z-index: -1;
}

hr {
  width: 50%;
  display: inline-block;
  border-color: #3f2814;
}

.About .image::after {
  content: "";
  width: 100px;
  height: 82%;
  border-left: 80px solid #ddd9cf;
  border-bottom: 80px solid #e0d9cb;
  position: absolute;
  top: -25px;
  z-index: -1;
  right: -135px;
}

.contact {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: #e2d6ce;
}

.contact .container {
  position: relative;
}

.contact .container > p {
  margin: -90px 0 0;
  font-size: 20px;
  text-align: center;
  color: #767676;
}

.contact .container .info {
  padding-top: var(--main-padding);
}

.contact .container .info > p {
  text-align: center;
  font-size: 35px;
  font-family: sans-serif;
  color: #611515;
  letter-spacing: -2px;
  font-weight: 800;
}

.contact .container .info .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .container .info .link {
  color: #795548;
  font-size: 30px;
  font-weight: bold;
  font-family: cursive;
  text-align: center;
}

.contact .container .info .social p {
  color: #6a4427;
}

.contact .container .info .social i {
  margin-left: 10px;
  color: #ac7433;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: #6a4427;
  align-items: center;
  color: #cdc2c2;
  word-spacing: 1;
  font-weight: bold;
}

footer span {
  color: #bc7a40;
}

@media (max-width: 768px) {
  .Special {
    font-size: 60px;
  }

  .Services .container > p,
  .Portfolio .container > p,
  .About .container > p,
  .contact .container > p {
    margin: -56px 0 0;
  }

  .Services .container .contains .feat {
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (max-width: 992px) {
  .About .image::before,
  ::after {
    display: none;
  }

  .About .container .contain {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .Services .container .contains .col:last-child {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
