* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-padding: 100px;
  --main-color: #1746a2;
  --section-color: #eadbc8;
  --card-color: #f8f0e5;
  --main-duration: 0.3s;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: relative;
  background-color: white;
  box-shadow: 3px 3px 3px 0px #ddd;
  -moz-box-shadow: 3px 3px 3px 0px #ddd;
  -webkit-box-shadow: 3px 3px 3px 0px #ddd;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-size: 18px;
  height: 70px;
  font-weight: 600;
}

header .list {
  display: flex;
}

header .list > li > a {
  color: black;
  position: relative;
  transition: var(--main-duration);
  display: flex;
  justify-content: center;
  height: 70px;
  padding: 0 30px;
  overflow: hidden;
  align-items: center;
}

header .list > li > a::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  top: 0;
  left: -150px;
  transition: var(--main-duration);
}

header .list > li > a:hover {
  color: var(--main-color);
  background-color: var(--card-color);
}

header .list > li > a:hover::before {
  left: 0;
}

/*Start The Items*/

header .items {
  display: flex;
  gap: 40px;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -1;
  top: calc(100% + 50px);
  background-color: var(--card-color);
  border-bottom: 3px solid var(--main-color);
  padding: 15px;
  transition: top 0.3s, opacity 0.3s;
  opacity: 0;
}

header .list > li:hover .items {
  opacity: 1;
  top: calc(100% + 1px);
  z-index: 10;
}

header .items .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: 600;
}

header .items .links li a i {
  margin-right: 15px;
}

header .items .links {
  min-width: 250px;
  flex: 1;
}

header .links li {
  position: relative;
}

header .items .links li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: var(--card-color);
  transition: var(--main-duration);
}

header .list .items .links li:hover::before {
  width: 100%;
}

header .list .items .links li:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
}

header .list .items .image img {
  max-width: 100%;
  height: 350px;
}

/*End The Items*/
/*Start The Landing*/
.Landing {
  position: relative;
  z-index: -1;
}

.Landing .container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 70px);
  padding-bottom: 130px;
}

.Landing .text h1 {
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 40px;
  margin: 0;
}

.Landing .text {
  flex: 1;
}

.Landing .text p {
  font-size: 22px;
  color: #777;
  line-height: 1.7;
  max-width: 500px;
  margin-top: 5px;
}

.Landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}

@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

.Landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--section-color);
  left: 0;
  top: -30px;
  transform: skewy(-6deg);
  transform-origin: top left;
}

.Landing > a i {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(-50%);
  color: var(--main-color);
  animation: down 1.5s infinite;
}

@keyframes down {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(-10px);
  }

  40%,
  60% {
    transform: translateY(-30px);
  }
}

.Landing > a i:hover {
  color: #066cc1;
}

/*End The landing*/
/*Start The Articles*/
.Articles {
  padding: var(--main-padding) 0;
  position: relative;
}

.Special {
  padding: 10px 20px;
  font-size: 30px;
  position: relative;
  margin-bottom: 100px;
  text-transform: uppercase;
  border: 2px solid black;
  width: fit-content;
  left: 50%;
  transform: translate(-50%);
}

.Special:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.6s;
}

.Special::after,
.Special::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  right: -30px;
  top: 50%;
  background-color: var(--main-color);
  border-radius: 50%;
  transform: translateY(-50%);
}

.Special::before {
  left: -30px;
}

.Special::after {
  right: -30px;
}

.Special:hover::before {
  z-index: -1;
  animation: move-right 0.5s linear forwards;
}

.Special:hover::after {
  z-index: -1;
  animation: move-left 0.5s linear forwards;
}

@keyframes move-right {
  50% {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 0;
  }

  100% {
    width: 51%;
    height: 100%;
    border-radius: 0;
    left: 0;
  }
}

@keyframes move-left {
  50% {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: 0;
  }

  100% {
    width: 51%;
    height: 100%;
    border-radius: 0;
    right: 0;
  }
}

.Articles .cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.Articles .cards .card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--card-color);
  box-shadow: 0 2px 15px rgb(0 0 0 / 33%);
  transition: var(--main-duration);
}

.Articles .cards .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.Articles .cards .card .text {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.cards .card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Articles .cards .card .text h3 {
  font-size: 20px;
  font-weight: bold;
}

.Articles .cards .card .text p {
  font-size: 14px;
  color: #777;
  line-height: 1.6;
  margin-top: 5px;
}

.Articles .cards .card .more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.Articles .cards .card .more a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
}

.Articles .cards .card .more i {
  color: var(--main-color);
}

.cards .card:hover .more i {
  animation: go 0.6s linear infinite;
}

@keyframes go {
  100% {
    transform: translateX(10px);
  }
}

/*End The Articles*/
/*Start The Shape*/
.shape {
  position: relative;
}

.shape::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 30px;
  z-index: 5;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

/*End The Shape*/
/*Start The Gallery*/
.Gallery {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: var(--section-color);
}

.Gallery .container .images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.Gallery .container .images .box {
  background-color: var(--card-color);
  padding: 15px;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 20%), 0 3px 5px 0 rgb(0 0 0 / 19%);
}

.Gallery .container .images .image {
  position: relative;
  overflow: hidden;
}

.Gallery .container .images .image::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: rgb(255 255 255 / 25%);
  z-index: 10;
  opacity: 0;
}

.Gallery .images .image:hover::before {
  animation: appear 0.6s;
}

@keyframes appear {
  0%,
  50% {
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.Gallery .container .images img {
  transition: var(--main-duration);
  max-width: 100%;
}

.Gallery .container .images .image:hover img {
  transform: rotate(-3deg) scale(1.1);
}

/*End The Gallery*/
/*Start The Features*/
.Features {
  padding: var(--main-padding) 0;
  position: relative;
}

.Features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.Features .box {
  border: 1px solid #ccc;
  text-align: center;
}

.Features .box img {
  max-width: 100%;
}

.Features .box .image {
  position: relative;
  overflow: hidden;
}

.Features .box .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -3px;
}

.Features .q .image::before {
  background-color: #a17e39a3;
}

.Features .t .image::before {
  background-color: #008b8b9c;
}

.Features .p .image::before {
  background-color: #0d128287;
}

.Features .box .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -17px;
  border-style: solid;
  border-width: 0 0 200px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-duration);
}

.Features .box:hover .image::after {
  border-width: 200px 500px 200px 0;
}

.Features .box h2 {
  font-size: 35px;
  position: relative;
  margin: auto;
  width: fit-content;
}

.Features .box h2::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 5px;
  bottom: -15px;
  left: 0;
}

.Features .q h2::after {
  background-color: #a17e39;
  left: 15px;
}

.Features .box a {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 10px 30px;
  margin-bottom: 30px;
  font-size: 23px;
  border: 3px solid transparent;
  border-radius: 7px;
  font-weight: bold;
  transition: var(--main-duration);
}

.Features .q a {
  color: #a17e39;
  border-color: #a17e39;
  background: linear-gradient(to right, #a17e39a3 50%, white 50%);
  background-position: right bottom;
  background-size: 200% 100%;
}

.Features .t h2::after {
  background-color: #008b8b9c;
  left: 11px;
}

.Features .t a {
  color: #008b8b9c;
  border-color: #008b8b9c;
  background: linear-gradient(to right, #008b8b9c 50%, white 50%);
  background-position: right bottom;
  background-size: 200% 100%;
}

.Features .p h2::after {
  background-color: #0d128287;
}

.Features .p a {
  color: #0d1282;
  border-color: #0d1282;
  background: linear-gradient(to right, #0d1282 50%, white 50%);
  background-position: right bottom;
  background-size: 200% 100%;
}

.Features .box p {
  color: #777;
  font-size: 20px;
  padding: 20px;
  margin: 30px 0;
  line-height: 1.7;
}

.Features .box:hover a {
  background-position: left bottom;
  color: white;
}

/*End The Features*/
/*Start The Testimonials*/
.testimonials {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: var(--section-color);
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}

.testimonials .container .box:not(img) {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  background-color: var(--card-color);
  border-radius: 6px;
}

.testimonials .box img {
  position: absolute;
  width: 90px;
  border-radius: 50%;
  right: -10px;
  top: -50px;
  outline: 15px solid var(--section-color);
}

.testimonials .box .title {
  margin: 10px 0;
  color: #777;
}

.testimonials .box .filled {
  color: #ffbd34;
}

.testimonials .box h3 {
  color: var(--main-color);
}

.testimonials .box p {
  color: #777;
  line-height: 1.7;
}

.testimonials .box .rate {
  margin-bottom: 10px;
}

/*End The Testimonials*/
/*Start The Team-member*/
.team-member {
  padding: var(--main-padding) 0;
  position: relative;
}

.team-member .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}

.team-member .container .box {
  position: relative;
}

.team-member .box::before,
.team-member .box::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #f3f3f3;
  transition: var(--main-duration);
  border-radius: 10px;
}

.team-member .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}

.team-member .container .box::after {
  z-index: -1;
  width: 0;
  background-color: #e4e4e4;
}

.team-member .box:hover::after {
  width: calc(100% - 60px);
}

.team-member .container .box .data {
  display: flex;
  padding-top: 60px;
  align-items: center;
}

.team-member .data img {
  border-radius: 10px;
  transition: var(--main-duration);
  width: calc(100% - 60px);
}

.team-member .box:hover img {
  filter: grayscale(100%);
}

.team-member .container .box .data .Social {
  display: flex;
  flex-direction: column;
}

.team-member .container .box .data .Social a {
  padding: 10px 20px;
  color: gray;
  text-align: center;
  transition: var(--main-duration);
}

.team-member .container .box .data .Social a:hover {
  color: var(--main-color);
}

.team-member .container .box .info {
  padding: 15px;
  margin-left: 60px;
}

.team-member .container .box .info h3 {
  margin: 0 0 15px;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-duration);
}

.team-member .container .box:hover h3 {
  color: #777;
}

/*End The Team-member*/
/*Start The Services*/
.Services {
  padding: var(--main-padding) 0;
  background-color: var(--section-color);
  position: relative;
}

.Services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.Services .card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 2px 15px rgb(0 0 0 / 33%);
  background-color: #f3f3f3;
  counter-increment: increase;
  transition: var(--main-duration);
}

.Services .card:hover {
  transform: translateY(-10px);
}

.Services .card::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--main-color);
  width: 0;
  height: 0;
  transition: var(--main-duration);
}

.Services .card:hover::before {
  width: 100%;
  height: 3px;
}

.Services .card i {
  display: block;
  font-size: 70px;
  color: #856d33;
  margin: 30px auto 15px;
}

.Services .card h3 {
  font-size: 25px;
  margin: 0 auto 50px;
  color: var(--main-color);
}

.Services .card .info {
  position: relative;
  padding: 15px;
  background-color: lightgrey;
}

.Services .card .info a {
  display: block;
  text-align: right;
  color: var(--main-color);
}

.Services .card .info::before {
  content: "0" counter(increase);
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100%;
  width: 80px;
  padding-left: 15px;
}

.Services .card .info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 70px;
  width: 50px;
  height: 100%;
  background-color: #baab98;
  transform: skewX(-30deg);
}

/*End The Services*/
/*Start The Skills*/
.skills {
  padding: var(--main-padding) 0;
  position: relative;
}

.skills .container {
  display: flex;
  column-gap: 30px;
}

.skills .container > img {
  height: 500px;
}

.skills .container .Precent {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.skills .precent {
  margin: 20px;
}

.skills .precent .prog {
  max-width: 100%;
  height: 30px;
  background-color: #f6eadc;
  position: relative;
  z-index: -1;
}

.skills .precent .prog::before {
  content: attr(data-progress);
  position: absolute;
  top: -33px;
  right: 0;
  font-weight: bold;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 14px;
  color: var(--main-color);
  background-color: #ebb783;
}

.skills .precent h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.skills .precent .prog .data-prog {
  height: 100%;
  position: absolute;
  background-color: var(--main-color);
}

/*End The Skills*/
/*Start The works*/
.Work {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: var(--section-color);
}

.Work .container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.Work .container > img {
  height: 400px;
  max-width: 100%;
  filter: invert(37%) sepia(14%) saturate(30) hue-rotate(161deg) brightness(90%)
    contrast(100%);
}

.Work .data .box {
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid white;
  border-radius: 6px;
  background-color: var(--card-color);
  margin-bottom: 30px;
  z-index: 10;
  column-gap: 15px;
  padding: 15px;
}

.Work .data .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a1ccd1;
  border-radius: 6px;
  height: 0;
  z-index: -1;
  width: 0;
  transition: var(--main-duration);
}

.Work .data .box:hover::before {
  width: 100%;
  height: 100%;
}

.Work .data .box img {
  height: 90px;
}

.Work .data .box h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 22px;
  text-transform: capitalize;
  color: var(--main-color);
}

.Work .data .box p {
  color: #777;
  font-size: 17px;
  line-height: 2;
  white-space: pre-line;
}

/*End The works*/
/*Start The Events*/
.event {
  padding: var(--main-padding) 0;
  position: relative;
}

.event .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 50px;
}

.event .container > img {
  border-radius: 35%;
  outline: 30px solid #5c8ceb;
  height: 400px;
  box-shadow: -20px 3px 20px 20px #03379d, 20px -3px 20px 20px #03379d;

  animation: up-down 5s linear infinite;
}

@keyframes up-down {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50px);
  }
}

.event .info {
  text-align: center;
  flex: 1;
}

.event .info .dead-line {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.event .dead-line .unit {
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: var(--main-duration);
  width: 75px;
}

.event .dead-line .unit:hover {
  border-color: var(--main-color);
}

.event .dead-line .unit span {
  font-size: 35px;
  font-weight: bold;
  color: var(--main-color);
  padding: 10px;
  display: block;
}

.event .dead-line .unit span:nth-of-type(2) {
  padding-top: 0;
}

.event .dead-line .unit h5 {
  padding: 8px 10px;
  font-size: 13px;
  color: #777;
  width: 100%;
  border-top: 1px solid #ccc;
  transition: var(--main-duration);
  text-transform: capitalize;
}

.event .dead-line .unit:hover h5 {
  border-top-color: var(--main-color);
}

.event h2 {
  margin-top: 30px;
  color: var(--main-color);
}

.event p {
  color: #777;
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.7;
}

.event .sub {
  width: 100%;
  margin-top: 60px;
}

.event .sub form {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 60px;
  background-color: #b6c1c2;
  padding: 30px 40px;
  gap: 20px;
}

.event .sub input[type="email"] {
  width: 100%;
  border-radius: 30px;
  background-color: #f3f3f3;
  caret-color: var(--main-color);
  border: none;
  padding: 20px;
  color: var(--main-color);
}

.event .sub input[type="email"]::placeholder {
  color: #777;
}

.event .sub input[type="submit"] {
  cursor: pointer;
  padding: 20px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  color: white;
  background-color: var(--main-color);
  transition: var(--main-duration);
}

.event .sub input[type="submit"]:hover {
  background-color: #0a107b;
}

/*End The Events*/
/*Start The Pricing */
.pricing {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: var(--section-color);
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.pricing .box {
  position: relative;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 20%), 0 3px 5px 0 rgb(0 0 0 / 19%);
  background-color: var(--card-color);
  z-index: 1;
}

.pricing .box::before,
.pricing .box::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 0;
  background-color: rgb(202 185 185 / 25%);
  z-index: -1;
  transition: var(--main-duration);
}

.pricing .box::before {
  top: 0;
  right: 0;
}

.pricing .box::after {
  left: 0;
  bottom: 0;
}

.pricing .box:hover::before {
  width: 100%;
}

.pricing .box:hover::after {
  width: 100%;
}

.pricing .box .title {
  text-align: center;
  font-size: 25px;
  margin: 20px auto;
  font-weight: bold;
}

.pricing .box img {
  display: block;
  margin: 0 auto;
  height: 110px;
}

.pricing .box .price {
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
  margin: 10px auto 30px;
  text-align: center;
  display: block;
}

.pricing .box ul li {
  font-size: 16px;
  border-top: 1px solid #c4c4c4;
}

.pricing .box ul li:not(:last-of-type) {
  border-bottom: 1px solid #c4c4c4;
}

.pricing .box ul li i {
  padding: 20px 10px 20px 20px;
  font-size: 14px;
  font-weight: bold;
  color: var(--main-color);
}

.pricing .box a {
  display: block;
  text-align: center;
  margin: 30px auto 40px;
  width: 130px;
  padding: 15px 15px;
  color: var(--main-color);
  font-weight: bold;
  border: 2px solid var(--main-color);
  border-radius: 6px;
  transition: var(--main-duration);
}

.pricing .box a:hover {
  background-color: var(--main-color);
  color: white;
}

.pricing .popular .label {
  writing-mode: vertical-rl;
  position: absolute;
  top: 0;
  right: 20px;
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.pricing .popular .label::before {
  content: "";
  position: absolute;
  top: 102px;
  right: 0px;
  border-width: 19px 19px 19px 20px;
  border-style: solid;
  border-color: var(--main-color) var(--main-color) transparent
    var(--main-color);
}

/*End The Pricing*/
/*Start The Video*/
.video {
  padding: var(--main-padding) 0;
  position: relative;
}

.video .container .holder {
  display: flex;
  justify-content: center;
  border: 1px solid #dedede;
}

.video .box:first-of-type {
  min-width: 250px;
}

.video .box .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  font-size: 14px;
  background-color: var(--card-color);
  color: var(--main-color);
}

.video .box .text i {
  font-size: 14px;
}

.video .box ul li {
  padding: 20px;
  cursor: pointer;
  font-size: 16px;
  background-color: #f1eeec;
  border-top: 1px solid #dedede;
  transition: var(--main-duration);
  text-transform: capitalize;
}

.video .box ul li:hover {
  color: var(--main-color);
  background-color: #dad6d49e;
}

.video .box ul li p {
  font-size: 15px;
  margin-top: 12px;
  color: gray;
}

.video .box:last-of-type {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #cccccc;
  flex-basis: 100%;
}

.video .box img {
  width: 100%;
}

.video .box .image {
  position: relative;
  cursor: pointer;
}

.video .box .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: var(--main-duration);
  background-color: #e4e4e47a;
  opacity: 0;
}

.video .box .image:hover::before {
  opacity: 0.6;
}

.video .box .image::after {
  font-family: "Font Awesome 5 Free";
  content: "\f144";
  position: absolute;
  font-size: 100px;
  font-weight: 900;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-color);
}

.video .box .info {
  padding: 20px;
  background-color: #f1eeec;
  font-size: 16px;
  color: var(--main-color);
  font-weight: bold;
}

/*End The Video*/

/*Start The stats*/
.stats {
  padding: var(--main-padding) 0;
  position: relative;
  background-image: url("../images/video3.jpg");
  background-size: cover;
}

.stats::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #eadcb8de;
}

.stats h1 {
  position: relative;
  margin: 0 auto 50px;
  font-size: 40px;
  width: fit-content;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.stats .box {
  padding: 20px;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: 0.6s;
}

.stats .box:hover {
  background-color: #eadbc8;
}

.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: 1s;
}

.stats .box::before {
  top: 0;
  right: 0;
}

.stats .box::after {
  bottom: 0;
  left: 0;
}

.stats .box:hover::after {
  height: 100%;
}

.stats .box:hover::before {
  height: 100%;
}

.stats .box i {
  font-size: 35px;
}

.stats .box .num {
  font-size: 50px;
  font-weight: bold;
  margin: 20px 0;
}

.stats .box .text {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
  transition: var(--main-padding);
}

.stats .box:hover .text {
  color: #0a107b;
}

/* End The stat*/
/*Start The request*/
.discount {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
}

.discount .image {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(../images/discount\ 1.jpg);
  background-size: cover;
  z-index: 1;
  animation: change-background 10s linear infinite;
}

@keyframes change-background {
  0%,
  100% {
    background-image: url(../images/discount\ 1.jpg);
  }

  50% {
    background-image: url(../images/discount\ 2.jpg);
  }
}

.discount .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #03379dd4;
  z-index: -1;
}

.discount .content {
  text-align: center;
  padding: 0 30px;
}

.discount .image .content h2 {
  font-size: 40px;
  margin: 30px 0;
  color: white;
}

.discount .image .content p {
  color: white;
  font-size: 20px;
  line-height: 1.7;
  max-width: 500px;
}

.discount .image .content img {
  max-width: 300px;
}

.discount .form {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.discount .form form {
  display: flex;
  flex-direction: column;
}

.discount .form .text {
  font-size: 40px;
  font-weight: 900;
  margin: 30px 0;
}

.discount .form .input {
  padding: 15px;
  margin-bottom: 25px;
  border: none;
  width: 100%;
  border-radius: 6px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  caret-color: var(--main-color);
}

.discount .form textarea.input {
  resize: none;
  height: 200px;
}

.discount .form [type="submit"] {
  display: block;
  width: 100%;
  border: none;
  padding: 20px 0;
  background-color: var(--main-color);
  color: white;
  font-size: 22px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--main-duration);
}

.discount .form [type="submit"]:hover {
  background-color: #0a107b;
}

/*End The request*/

/*Start The footer*/
footer {
  position: relative;
  background-color: black;
  color: white;
  padding: 80px 0 0;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

footer .info h2 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 30px;
}

footer .info .Social {
  display: flex;
}

footer .info .Social li {
  margin-right: 15px;
}

footer .info .Social a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  background-color: #313131;
  height: 50px;
  width: 50px;
  font-size: 20px;
  transition: var(--main-duration);
}

footer .info .Social .facebook:hover {
  background-color: #03379d;
}

footer .info .Social .twitter:hover {
  background-color: #0808fff2;
}

footer .info .Social .youtube:hover {
  background-color: rgba(255, 0, 0, 0.678);
}

footer .info p {
  color: #ddd;
  font-size: 16px;
  line-height: 2;
  margin: 30px 0;
}

footer .box li {
  padding: 15px 0;
  transition: var(--main-duration);
  cursor: pointer;
}

footer .box li:hover {
  padding-left: 10px;
}

footer .box a {
  color: #ddd;
  transition: var(--main-duration);
}

footer .box a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

footer .box li:not(:last-of-type) {
  border-bottom: 1px solid #444;
}

footer .box li:hover a {
  color: white;
}

footer .box .line {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

footer .box .line i {
  color: var(--main-color);
  margin-right: 15px;
  font-size: 25px;
}

footer .box .line p {
  color: #ddd;
  line-height: 1.6;
  font-size: 16px;
}

footer .box .line span {
  line-height: 1.6;
  color: #ddd;
}

footer .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

footer .gallery .image {
  width: 80px;
  height: 80px;
  padding: 3px;
  background-color: var(--card-color);
}

footer .gallery .image img {
  max-width: 100%;
}

footer > p {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 70px 0 0;
  border-top: 1px solid #444;
  padding: 25px 0;
}

/*End The footer*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }

  header .logo {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  header .list li a {
    padding: 0 10px;
    height: 50px;
  }

  header .items {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    padding: 0;
  }

  header .list .items .links li {
    border-bottom: 1px solid #ddd;
  }

  .Landing .text h1 {
    font-size: 25px;
  }

  .event .sub form {
    flex-direction: column;
    border-radius: 0px;
    max-width: 100%;
  }

  .event .sub input[type="email"] {
    border-radius: 0;
    width: 100%;
  }

  .event .sub input[type="submit"] {
    border-radius: 0;
    width: 100%;
  }

  footer .container {
    text-align: center;
  }

  footer .info .Social,
  footer .gallery {
    justify-content: center;
  }

  footer .box .line {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer .box .line i {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  header .items .image img,
  .Landing .image img {
    display: none;
  }

  .Landing .text {
    text-align: center;
  }

  .Landing .text p {
    margin: 10px auto;
  }

  .skills img {
    display: none;
  }

  .Work .container {
    flex-direction: column;
  }

  .event img {
    display: none;
  }

  .video .holder {
    flex-direction: column;
  }

  .discount .image,
  .discount .form {
    flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .pricing .popular {
    top: -20px;
  }
}
